.home-header {
  text-align: center;

  .blog-avatar {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    margin: 1em auto;
    float: right;
  }

  h1.name {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
  h1.name{
    display: inline-block;
  }

  .blog-description {
    font-size: 18px;
    color: #9A9A9A;
    line-height: 30px;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
    font-family: $font-sans-serif;
    border-bottom: 1px solid #DADADA;
  }


}
.badges{
  text-align: right;

  p{
    display: inline-block;
    margin-right: 1rem;
    img{
      height: 40px;
      width: 40px;
    }
  }
}

